
@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

.board {
background-color: black;
font-family: "Walter Turncoat";
text-align: center;
font-size: 35px;
}

.sentence {
    display: block;
    color: white;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.pink {
    color: pink;
}

.white {
    color: white;
}

